@using FitTurkBlog.Entities.Concrete
@model List<Notification>
@{
    Layout = null;
}

<li>
    <a href="/Admin/AdminNotification/AllNotification/"><i class="fa fa-bell"></i> <span class="nav-label">Bildirimler</span><span class="label label-danger float-right">@ViewBag.nc</span>  </a>
</li>