@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Layouts/UserLayout.cshtml";
}


<section class="w3l-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about py-5">
        <div class="container py-lg-5 py-md-3">
            <h3 class="title-big text-center">Hakkımızda</h3>
            <p class="mt-3">Sağlıklı Paylaşım Platformu FITTURKBLOG'a Hoşgeldiniz</p>
        </div>
    </div>
</section>

<!--/main-->
<section class="main-content-w3layouts-agileits">
    <div class="container">
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">

                    <div class="blog_info_left_grid">
                        <a href="single.html">
                            <img src="~/FitTurkBlog/images/blog1.jpg" class="img-fluid" alt="">
                        </a>
                    </div>
                    <h3>
                        Biz Kimiz & Mizyonumuz & Vizyonumuz
                    </h3>
                    @await Component.InvokeAsync("AboutDetails")
                    <a href="/Blog/Index/" class="btn-style btn-primary btn mt-lg-5 mt-4">Blog Yazıları</a>
                </div>
            </div>
            <!--//left-->
            <!--right-->
            <aside class="col-lg-4 agileits-w3ls-right-blog-con text-right">
                <div class="right-blog-info text-left">
                    <div class="tech-btm">
                        <img src="~/FitTurkBlog/images/banner1.jpg" class="img-fluid" alt="">
                    </div>
                    <h3>Bültenimize Abone Olun</h3>
                    <br />
                    @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
                    @await Html.PartialAsync("~/Views/About/SocialMediaAbout.cshtml")


                </div>
            </aside>
        </div>
        <!--//right-->
    </div>
</section>
<!--//main-->
<!-- middle -->
<div class="middle py-5">
    <div class="container py-xl-5 py-lg-3">
        <div class="welcome-left text-center py-md-3">
            <h3 class="mb-4">SENDE ARAMIZA KATIL</h3>
            <p class="text-italic">BİLGİLERİNİ, DENEYİMLERİNİ, ARAŞTIRMALARINI PAYLAŞ</p>
            <a href="/RegisterUser/Index/" class="btn-style btn-primary btn mt-lg-5 mt-4">Kayıt Ol</a>
        </div>
    </div>
</div>
<!-- //middle -->
@*<section class="w3l-team" id="team">
    <div class="teams1 py-5">
        <div class="container py-lg-5 py-md-4">
            <h3 class="title-big title-big-center mb-4 text-center mb-md-5 mb-4">EN İYİ BLOG YAZARLARI</h3>
            <div class="teams1-content">

                <div class="row">


                </div>
            </div>
        </div>
    </div>
</section>*@

<section class="w3l-blog-block py-5">

    @await Component.InvokeAsync("BlogLast3PostOnAbout")

    @await Component.InvokeAsync("BestBlog3PostOnAbout")

    @await Component.InvokeAsync("MostCommentedBlog3PostOnAbout")

</section>


<section class="w3l-stats w3l-bottom-grids-6 py-5" id="stats">
    <div class="gallery-inner container py-md-5 py-4">
        <div class="row stats-con">
            <div class="col-md-3 col-6 stats_info grids-feature area-box">
                <div class="icon">
                    <span class="lnr lnr-book"></span>
                </div>
                <p class="counter">@ViewBag.v1</p>
                <h3>Blog Sayısı</h3>
            </div>
            <div class="col-md-3 col-6 stats_info grids-feature area-box">
                <div class="icon">
                    <span class="lnr lnr-users"></span>
                </div>
                <p class="counter">@ViewBag.v2</p>
                <h3>Yazar Sayısı</h3>
            </div>
            <div class="col-md-3 col-6 stats_info grids-feature area-box mt-md-0 mt-5">
                <div class="icon">
                    <span class="lnr lnr-bubble"></span>
                </div>
                <p class="counter">@ViewBag.v3</p>
                <h3>Yorum Sayısı</h3>
            </div>
            <div class="col-md-3 col-6 stats_info grids-feature area-box mt-md-0 mt-5">
                <div class="icon">
                    <span class="lnr lnr-layers"></span>
                </div>
                <p class="counter">@ViewBag.v4</p>
                <h3>Kategori Sayısı</h3>
            </div>
        </div>
    </div>
</section>
