<div class="tech-btm widget_social">
    <h4>Sosyal Medya Hesaplarımız</h4>
    <ul>

        <li>
            <a class="twitter" href="https://twitter.com/home">
                <i class="fab fa-twitter"></i>
                <span class="count">317K</span> Twitter Takipçileri
            </a>
        </li>
        <li>
            <a class="facebook" href="https://www.facebook.com">
                <i class="fab fa-facebook-f"></i>
                <span class="count">218k</span> Facebook Takipçileri
            </a>
        </li>
        <li>
            <a class="instagram" href="https://www.instagram.com">
                <i class="fab fa-instagram"></i>
                <span class="count">190k</span> İnstagram Takipçileri
            </a>
        </li>
        <li>
            <a class="youtube" href="https://www.youtube.com/channel/UC14elFKYGT53__j8MGGT6Pg">
                <i class="fab fa-youtube"></i>
                <span class="count">215k</span> Youtube Takipçileri
            </a>
        </li>

    </ul>
</div>