@model FitTurkBlog.Entities.Concrete.AppUser
@{
    Layout = null;
}
@{
    Layout = null;
}


<div class="nav-profile-img">
    <img src="@Model.ImageUrl" alt="image">
    <span class="availability-status online"></span>
</div>
<div class="nav-profile-text">
    <p class="mb-1 text-black">@Model.NameSurname</p>
</div>
