<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h3>Hakkımızda</h3>
                <p>Corrupti inventore doloremque, fuga iusto provident facilis voluptatum obcaecati a, unde placeat laudantium molestiae voluptatem consequuntur temporibus magni incidunt atque porro delectus natus? Corrupti ipsum maxime, amet ad vitae, praesentium voluptas porro ratione dolorem ...</p>
                <div class="container">
                    <div class="banner-info-bg">
                        <a class="btn btn-style btn-primary mt-md-5 mt-4" href="/About/Index">Devamını Oku</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                @await Component.InvokeAsync("BlogLast3Post")

            </div>
            <!-- subscribe -->
            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">
                <h2>Bültenimize Abone Olun</h2>
                @await Html.PartialAsync("~/Views/NewsLetter/SubscribeMail.cshtml")
                <div class="clearfix"> </div>
            </div>
        </div>
        <!-- //subscribe -->
    </div>

    <!-- footer -->
    <div class="footer-cpy text-center">
        <div class="footer-social">
            <div class="copyrighttop">
                <ul>
                    <li class="mx-3">
                        <a class="facebook" href="https://www.facebook.com">
                            <i class="fab fa-facebook-f"></i>
                            <span>Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a class="facebook" href="https://twitter.com/home">
                            <i class="fab fa-twitter"></i>
                            <span>Twitter</span>
                        </a>
                    </li>
                    <li class="mx-3">
                        <a class="facebook" href="https://www.youtube.com/channel/UC14elFKYGT53__j8MGGT6Pg">
                            <i class="fab fa-youtube"></i>
                            <span>Youtube</span>
                        </a>
                    </li>
                    <li>
                        <a class="facebook" href="https://www.instagram.com">
                            <i class="fab fa-instagram"></i>
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>

            </div>
        </div>
        <div class="w3layouts-agile-copyrightbottom">
            <p>
                © @DateTime.Now.Year FitTurkBlog. Tüm Hakları Saklıdır. | Design by
                <a href="http://w3layouts.com/">W3layouts</a>
            </p>

        </div>
    </div>

    <!-- //footer -->

</footer>
