
        <div class="tech-btm">
            <p>Sağlıklı paylaşımlara e-posta yoluyla ulaşın. </p>
            <form action="/NewsLetter/SubscribeMail/" method="post">
                <input type="email" placeholder="E-posta Adresi" required="" name="Mail">
                <button class="btn-primary btn btn-style substring">Abone Ol</button>
            </form>

        </div>

