@{
    ViewData["Title"] = "BlogTitleListExcel";
    Layout = "~/Views/Shared/Layouts/AdminLayout.cshtml";
}

<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h2 class="card-title"><strong>Raporlama Sayfası</strong></h2>
                <br />
                <br />
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Rapor Adı</th>
                                <th>İndir</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Blog Listesi</td>
                                <td>
                                    <a href="/Admin/Blog/ExportDynamicExcelBlogList" class="btn btn-primary">Excel Listesini İndir</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


