@using FitTurkBlog.Entities.Concrete
@model List<Notification>

@{
    ViewData["Title"] = "AllNotification";
    Layout = "~/Views/Shared/Layouts/WriterLayout.cshtml";
}

<h1>Bildirimler</h1>
<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Bildirim</th>
        <th>Tarih</th>
        <th>Detay</th>
    </tr>
    @foreach (var item in Model)
   {
       <tr>
           <td>@item.NotificationID</td>
           <td>@item.NotificationDetails</td>
           <td>@item.NotificationDate.ToShortDateString()</td>
           <td><a href="/Notification/NotificationDetails/@item.NotificationID" class="btn btn-primary">Detay</a></td>
       </tr>
   }
</table>

