<div class="comment-top">
    <h4>Yorum Yap</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post">
            <input class="form-control" type="text" name="CommentUserName" placeholder="Ad-Soyad" required="">
            <input class="form-control" type="text" name="CommentTitle" placeholder="Yorum Başlığı" required="">
            <select class="form-control" name="BlogScore" required="" style="margin-bottom:10.8px">
                <option disabled="disabled" selected value="0">Blog için puan veriniz</option>
                @for (var i = 1; i <= 10; i++)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <textarea class="form-control" name="CommentContent" placeholder="Yorum Alanı..." required=""></textarea>
            <div class="text-right">
                <button class="btn-primary btn btn-style">Yorum Yap</button>
            </div>
        </form>
    </div>
</div>