@using FitTurkBlog.Entities.Concrete
@model List<Message2>

<li>
    <a href="/Admin/AdminMessage/Inbox/"><i class="fa fa-envelope"></i> <span class="nav-label">Mesajlar </span><span class="label label-warning float-right">@Model.Count</span></a>
</li>